
<div class="topnav" id="myTopnav">
  <div class="logobar">
    <p>
      <%= link_to "#", class: "logoimg" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", width: '45px' %>
      <% end %>
    </p>
  </div>
  <div class="rightbar">
    <%# <a href="#home" class="active">Home</a> %>

    <% if user_signed_in? %>
      <%= link_to "Home"%>
    <% end %>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="#profile">Profile</a>

    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
