<div class="homepage">
  <div class="homebox">
    <div class="home-text">
      <div class="home-title">
        <h1>PETUXEDO</h1>
        <p>Make your companion the prettiest !</p>
      </div>
      <div class="down">
        <div class="home-info">
          <h2>Get a tux for your pet !</h2>
          <p>More than 100 outfits</p>
          <p>Customized creations</p>
          <% if user_signed_in? %>
            <%= link_to "Dashboard", myspace_path, class: "homelink" %>
          <% else %>
            <%= link_to "Register", new_user_registration_path, class: "homelink"  %>
          <% end %>
        </div>
      </div>
    </div>

    <section class="right-column">
      <section class="clients-avis">
        <div class="side-title">
        <h3>Our clients speak !</h3>
        </div>
        <div class="box1 b">
          <div class="stars">
            <%= image_tag ('https://res.cloudinary.com/dhxefoe7j/image/upload/v1680545726/petuxedo/PETUXEDO_2_zyk4eo.png'), width: '100px' %>
          </div>
          <p>" Very happy of my last order ! <br> Great quality ! "</p>
          <small> <em>Audrey</em> </small>
        </div>
        <div class="box2 b">
          <div class="stars">
            <%= image_tag ('https://res.cloudinary.com/dhxefoe7j/image/upload/v1680545726/petuxedo/PETUXEDO_2_zyk4eo.png'), width: '100px' %>
          </div>
          <p>"Thank you so much for responding to my request ! <br> Creation of great quality !"</p>
          <small> <em>Marika</em></small>
        </div>
        <div class="etc">
          <%= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1680546080/petuxedo/PETUXEDO_4_wedzwi.png', width:'30px' %>
        </div>

      </section>
      <section class="social">
        <div class="fol">
          <h3>Follow us !</h3>
        </div>
        <div class="icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="mail">
          <p>contact@petuxedo.com</p>
        </div>
      </section>
    </section>
  </div>


</div>
