<div class="myspacepage">
  <div class="Dashboard">
    <div class="welcoming">
      <h1>Welcome <span class ="user"><%= current_user.email %></span> !</h1>

      <br>
    </div>

    <div class="dashboard">

      <div class="upcards">
        <div class="card colomn search-tux">
          <h2> Find an outfit</h2><br>
          <p>Take a look at our gallery !</p>
          <p>Search by : <br>- pet category, <br> - color, <br> - theme, etc...</p>
          <%= link_to "Search", outfits_path %>
        </div>

        <div class=" card colomn myorders">
          <h2>My last orders</h2><br>
          <p>In your customer space, you can :</p>
          <p>- Check the status of your current order here ! <br>
           - View your past and ongoing ones. <br>
           - Manage your orders </p>
          <%= link_to "My orders", orders_path %>
        </div>
      </div>

      <div class="special-admin">
        <div class="card special">
          <h2>Special requests</h2>
          <p>You want something very special for your pet ?<br>
          <%# Feel free to submit your request, and we'll get back to you in less than 24h. <br> %>
          Send us a message down here, with the details of your customized request :)</p>
          <%= link_to "Request form", new_contact_path %>
        </div>

        <% if current_user.email == "ophe.ng@live.fr" %>
          <div class=" card home-gallery">
            <h2 class="admin">Admin outfit</h2>
            <%= link_to "Manage", outfits_path, class:"manage" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="brand">
    <h1>PETUXEDO</h1>
  </div>-
</div>
