<div class="myspacepage">
 <div class="welcoming">
  <h1>Welcome <%= current_user.email %> !</h1>
 </div>

 <div class="dashboard">

  <div class="search-tux">
    <h2> Search and find an outfit</h2>
    <p>Search by pet category, color, theme, etc...</p>
    <%= link_to "Search", outfits_path %>
  </div>
  <div class="myorders">
    <h2>My last orders</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, asperiores suscipit. Quos repellat illo cumque tempore itaque quibusdam animi cupiditate!</p>
    <%= link_to "My orders" %>
  </div>

  <div class="special">
    <h2>Special requests</h2>
    <p>Fill the form to submit your customized request</p>
    <%= link_to "request form", new_contact_path %>
  </div>

  <% if current_user.email == "ophe.ng@live.fr" %>
    <div class="home-gallery">
      <%= link_to "Gallery", outfits_path %>
    </div>
  <% end %>

 </div>


</div>
